body {
	width: 700px;
	margin: 0 auto;
	font-family: "Trebuchet MS", "Verdana", "Arial", sans-serif;
}
#whichHighlight, #whichShorter, #percentage {
	display: none;
}
#previewWarning {
	color: red;
	display: none;
}

#flashWarning {
	font-size: 12px;
}

#toneA {
	margin-right: 30px;
}
#toneAlabel {
	margin-left: 20px;
}

.question {
	background-color: #eee;
	padding: 5px;
	position: relative;
}

.soundclip {
	margin: 0 auto;
	margin-bottom: 5px;
	width: 165px;
	position:relative;
	background: #369 url('soundmanager/images/icon_play.png');
	padding: 2px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: white;
	font-size: 13px;
	height: 18px;
	background-repeat: no-repeat;
	background-position: 3px;
	cursor: pointer;
}

.soundclip:hover {
	background-color: #036;
}

.clipPlaying {
	background: #036 url('soundmanager/images/icon_pause.png');
	background-repeat: no-repeat;
	background-position: 3px;
}

.clipDisabled {
	background: #369 url('soundmanager/images/icon_play_disabled.png');
	background-repeat: no-repeat;
	background-position: 3px;
}

.soundclip #loading {
	padding-left: 20px;
}

.soundclip #soundcontent {
	display: none;
}

.soundclip #time {
	position: absolute;
	right: 0;
	padding-right: 5px;
}

.soundclip #playInfo {
	font-style: italic;
}

#incorrectMessage {
	text-align: center;
	font-size: 13px;
	color: red;
	display: none;
}

.tonelabel {
	text-align: center;
	margin: 0 auto;
	width: 200px;
	font-size: 12px;
	margin-top: 10px;
}

#examples {
	display:block;
	font-size:8pt;
}
#unsureInstructions {
	font-size: 12px;
	position: absolute;
	right: 10px;
	top: 10px;
}
