#graph {
	background-color: #eee;
	border-left: 2px solid #000;
	border-bottom: 2px solid #000;
	width: 270px;
	height: 200px;
	margin: 0 auto;
	position: relative;
}

.bar {
	width: 30px;
	height: 0px;
	background-color: #D62727;
	position: absolute;
	bottom: 0px;

}
